@font-face {
    font-family: 'Black Butter';
    src: url('BlackButter-Regular.eot');
    src: local('Black Butter Regular'), local('BlackButter-Regular'),
        url('BlackButter-Regular.eot?#iefix') format('embedded-opentype'),
        url('BlackButter-Regular.woff2') format('woff2'),
        url('BlackButter-Regular.woff') format('woff'),
        url('BlackButter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

