.coordinator-container{
background-image: url("../../Images/masterbg_xl.gif");
background-position:center;
  background-size: cover;
  overflow-y:scroll;
height: 100vh;
}

.coordinator-content {
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;
}

.profile-container {
  width: 100%;
  color:wheat;
}

.profilecard-container {
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  flex-wrap:wrap;
}
