.coordinator-content {
  background-image: url('https://res.cloudinary.com/electra/image/upload/v1725441646/master%20bg.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
