.about-container {
  background-image: url(../../images/about_bg_image_xl.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.about-heading {
  font-family: Compacta-BT;
  letter-spacing: 4px;
  color:white;
  font-size:70px;
}

.heading-span{
    color:#8b0415;
}


.about-description{
    color:white;
    justify-self:center;
}

.aboutheader{
  font-family:Teko;
  font-size:40px;
}

.about-para-container{
    border:2px solid white;
    border-radius:8px;
    padding:20px;
    height:300px;
    background-color:#000000BF;

}

.about-para{
  color:white;
}