.about-container {
  background-image: url("https://res.cloudinary.com/electra/image/upload/about_bg_image_xl_gpvb9k.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .about-container {
    background-size: cover;
  }
}

.about-heading {
  font-family: Black Butter Personal Use;
  letter-spacing: 4px;
  color: rgb(255, 255, 255);
  font-size: 80px;
}

@media screen and (max-width: 900px) {
  .about-heading {
    font-size: 35px;
    text-align: center;
  }
}

.heading-span {
  color: #fa1e3b;
}

.about-description {
  color: white;
  justify-self: center;
  width: 70%;
}

@media screen and (max-width: 1080px) {
  .about-description {
    width: 85%;
  }
}

.aboutheader {
  font-family: Teko;
  font-size: 40px;
}

.about-para-container {
  border: 2px solid white;
  border-radius: 8px;
  padding: 20px;
  height: 300px;
  background-color: #000000bf;
  text-align: justify;
  overflow-x: hidden;
}

@media screen and (max-width: 900px) {
  .about-para-container {
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px;
    height: 400px;
    word-wrap: break-word;
    background-color: #000000bf;
  }
}

.about-para {
  color: white;
}
