

.bg-container {
  height: 100vh;
  background-image: url('https://res.cloudinary.com/electra/image/upload/money_heist_bg_at1kmh.jpg');
  background-size: cover;
  color: white;
  background-position: center;
}

@media screen and (max-width: 1080px) {
  .bg-container {
    background-image: url('https://res.cloudinary.com/electra/image/upload/money_heist_bg_sm_wpe42p.jpg');
    background-size:cover;
  }
}

.title {
  font-family: Compacta-BT;
  letter-spacing: 4px;
  font-size: 90px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1080px) {
  .title {
    letter-spacing: 2px;
    font-size: 50px;
  }
}

.Header {
  display: flex;
  justify-content: space-around;
  align-self: center;
  height: 20vh;
  padding-top: 20px;
}

.info-container {
  font-family: Kdam Thmor Pro;
}

@media screen and (max-width: 1080px) {
  .info-container {
    font-size: 10px;
  }
}

.HomePage-Button {
  display: flex;
  align-self: center;
  flex-direction: column;
}

@media screen and (max-width: 1080px) {
  .HomePage-Button{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    order:1;
  }
  
}

.HomePage-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1080px) {
  .HomePage-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-top:40%;
  }
}


.Button-container {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  align-items: center;
}

.left-button {
  font-family: Teko;
  color: #8b0415;
  border: none;
  background-color: transparent;
  font-size: 50px;
}

.left-button:hover {
  font-size: 60px;
}

.right-button:hover {
  transform: translateY(-10px);
}

.right-button {
  background-color: transparent;
  border: none;
  color: white;
  font-family: Teko;
  font-size: 40px;
}

@media screen and (max-width: 1080px) {
  .left-button {
    font-size: 40px;
    color:#db0c26;
    order:2;
  }
  .left-button:hover {
    font-size: 45px;
  }
}
@media screen and (max-width: 1080px) {
  .right-button {
    font-size: 40px;
    width:150px;
    order:1;
  }
  .right-button:hover {
    transform: translateY(-5px);
  }
}