.contactbg-container {
  background-image: url("https://res.cloudinary.com/electra/image/upload/v1725874003/CFsvT1_m1drwb.jpg");
  background-position: center;
  background-size:cover;
  height: 100vh;
  overflow-y:auto;
  padding:25px;
}
.profilecard-container{
    color:rgb(245, 242, 242);
}